.youtube-time-tracker {
  font-size: 16px;
  line-height: 20px;
  color: #0a0a0a !important;
}

.youtube-time-tracker__body {
  display: flex !important;
}

.youtube-time-tracker__stopwatch-icon {
  width: 15px !important;
  height: 20px;
  margin-right: 5px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/stopwatch.svg") !important;
}

[dark] .youtube-time-tracker {
  color: #FFF !important;
}

[dark] .youtube-time-tracker__stopwatch-icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/stopwatch_white.svg") !important;
}
