.youtube-time-tracker {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 20px;
  color: #0a0a0a !important;
}

.youtube-time-tracker__body {
  display: flex !important;
}

.youtube-time-tracker__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #0a0a0a !important;
}

.youtube-time-tracker__popup {
  display: none;
  box-sizing: border-box;
  width: 300px;
  position: absolute;
  top: 90%;
  left: 0;
  padding: 20px 20px;
  z-index: 9999;

  background-color: #FFF;
}

.youtube-time-tracker:hover .youtube-time-tracker__popup {
  display: block;

  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

.youtube-time-tracker__stats {
  margin-top: 28px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #0a0a0a !important;

  list-style: none;
}

.youtube-time-tracker__stats li {
  display: block;
}

.youtube-time-tracker__stats li + li {
  margin-top: 20px;
}

.youtube-time-tracker__links {
  text-align: right;
}

.youtube-time-tracker__link {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #606060 !important;

  text-decoration: underline;
}

.youtube-time-tracker__link + .youtube-time-tracker__link {
  margin-left: 10px;
}

.youtube-time-tracker__stopwatch-icon {
  width: 15px !important;
  height: 20px;
  margin-right: 5px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/stopwatch.svg") !important;
}

[dark] .youtube-time-tracker {
  color: #FFF !important;
}

[dark] .youtube-time-tracker__stopwatch-icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/stopwatch_white.svg") !important;
}
