.secondary-link {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #606060 !important;
  text-decoration: underline;

  cursor: pointer;
}

.secondary-link:hover {
  color: #404040 !important;
}

.youtube-time-tracker {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 20px;
  color: #0a0a0a !important;
}

.youtube-time-tracker__body {
  display: flex !important;
}

.youtube-time-tracker__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #0a0a0a !important;
}

.youtube-time-tracker__popup {
  display: none;
  box-sizing: border-box;
  width: 300px;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 9999;

  background-color: #FFF;
}

.youtube-time-tracker__popup-body {
  padding: 20px 20px;
}

.youtube-time-tracker:hover .youtube-time-tracker__popup {
  display: block;

  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

.youtube-time-tracker__stats {
  margin-top: 28px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #0a0a0a !important;

  list-style: none;
}

.youtube-time-tracker__stats li {
  display: block;
}

.youtube-time-tracker__stats li + li {
  margin-top: 20px;
}

.youtube-time-tracker__links {
  text-align: right;
}

.youtube-time-tracker__link {
  text-decoration: underline;
}

.youtube-time-tracker__link + .youtube-time-tracker__link {
  margin-left: 10px;
}

.youtube-time-tracker__stopwatch-icon {
  width: 16px !important;
  height: 19px;
  margin-right: 8px;
  margin-top: -2px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/stopwatch.svg") !important;

  opacity: 0.5;
}

.youtube-time-tracker__time {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  opacity: 0.6;
}

.youtube-time-tracker__rating {
  display: none;
  padding: 20px;

  border-top: 1px solid #dbdbdb;
}

.youtube-time-tracker__rating--active {
  display: block;
}

.youtube-time-tracker__rating-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #0a0a0a !important;
}

.youtube-time-tracker__rating-cta {
  margin-top: 20px;
}

.youtube-time-tracker__rating-button {
  position: relative;
  display: inline-block;
  padding: 10px 16px 10px 40px;

  border-radius: 2px;

  background-color: #FD1A20;

  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;

  cursor: pointer;
}

.youtube-time-tracker__rating-button:hover {
  background-color: #e4090f;
}

.youtube-time-tracker__rating-button:before {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 16px;
  width: 16px;
  margin-top: -10px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/thumbs_up.svg") !important;

  content: "";
}

.youtube-time-tracker__rating-later {
  margin-left: 10px;
}

.ytt-stat {
  display: flex;
  justify-content: space-between;
}

.ytt-stat__uplift {
  display: none;
  align-items: center;
}

.ytt-stat__uplift--active {
  display: flex;
}

.ytt-stat__uplift--red {
  color: #FD1A20;
}

.ytt-stat__uplift--green {
  color: #27AE60;
}

.ytt-stat__uplift:after {
  position: relative;
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-left: 8px;

  background-size: contain;
  background-repeat: no-repeat;

  content: "";
}

.ytt-stat__uplift--red:after {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/red_triangle.svg");
}

.ytt-stat__uplift--green:after {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/green_triangle.svg");
}

[dark] .youtube-time-tracker {
  color: #FFF !important;
}

[dark] .youtube-time-tracker__stopwatch-icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/stopwatch_white.svg") !important;
}

[dark] .youtube-time-tracker__stopwatch-icon,
[dark] .youtube-time-tracker__time {
  opacity: 1;

  color: #FFF;
}
